@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);

  /* Rosely Palette */
  --color-rosely-grey-100: #fffcf2;
  --color-rosely-grey-300: #ccc9c2;
  --color-rosely-grey-500: #aaa7a0;
  --color-rosely-grey-800: #555350;
  --color-rosely-pink-100: #ffcde6;
  --color-rosely-pink-300: #e89abf;
  --color-rosely-pink-500: #ba508a;
  --color-rosely-pink-800: #721d4d;
  --color-rosely-purple-100: #ebd5ff;
  --color-rosely-purple-300: #c39be6;
  --color-rosely-purple-500: #9159c2;
  --color-rosely-purple-800: #4a1e70;
  --color-rosely-coral: #ffb5b5;
  --color-rosely-yellow: #f5c277;
  --color-rosely-green: #abdb8f;
  --color-rosely-cyan: #85e0e0;
}

:root {
  --background: #fffcf2;
  --foreground: #555350;
  --card: #fffcf2;
  --card-foreground: #555350;
  --popover: #fffcf2;
  --popover-foreground: #555350;
  --primary: #9159c2;
  --primary-foreground: #fffcf2;
  --secondary: #e89abf;
  --secondary-foreground: #721d4d;
  --muted: #ccc9c2;
  --muted-foreground: #555350;
  --accent: #ffcde6;
  --accent-foreground: #721d4d;
  --destructive: #ffb5b5;
  --border: #ccc9c2;
  --input: #ccc9c2;
  --ring: #c39be6;
  --chart-1: #ffb5b5;
  --chart-2: #f5c277;
  --chart-3: #abdb8f;
  --chart-4: #85e0e0;
  --chart-5: #ba508a;
  --radius: 0.625rem;
  --sidebar: #fffcf2;
  --sidebar-foreground: #555350;
  --sidebar-primary: #9159c2;
  --sidebar-primary-foreground: #fffcf2;
  --sidebar-accent: #ebd5ff;
  --sidebar-accent-foreground: #4a1e70;
  --sidebar-border: #ccc9c2;
  --sidebar-ring: #c39be6;
}

.dark {
  --background: #555350;
  --foreground: #fffcf2;
  --card: #555350;
  --card-foreground: #fffcf2;
  --popover: #555350;
  --popover-foreground: #fffcf2;
  --primary: #c39be6;
  --primary-foreground: #4a1e70;
  --secondary: #ba508a;
  --secondary-foreground: #ffcde6;
  --muted: #aaa7a0;
  --muted-foreground: #fffcf2;
  --accent: #721d4d;
  --accent-foreground: #ffcde6;
  --destructive: #ffb5b5;
  --border: #aaa7a0;
  --input: #aaa7a0;
  --ring: #9159c2;
  --chart-1: #ffb5b5;
  --chart-2: #f5c277;
  --chart-3: #abdb8f;
  --chart-4: #85e0e0;
  --chart-5: #e89abf;
  --sidebar: #555350;
  --sidebar-foreground: #fffcf2;
  --sidebar-primary: #c39be6;
  --sidebar-primary-foreground: #4a1e70;
  --sidebar-accent: #4a1e70;
  --sidebar-accent-foreground: #ebd5ff;
  --sidebar-border: #aaa7a0;
  --sidebar-ring: #9159c2;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}